* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  background-color: #e6f1f8;
  color: #d1d5db;
}


.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1;
  height: calc(100vh - 80px); 
  width: 100%; /* Added to make main-content full width */
}


.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #202123;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
}
